<h1>Edit this Portofolio Item</h1>

<%= form_with(model: @portfolio_item) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, id: :subtitle %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
